header img{width: 100%;}


article{background: #c0082d;}
article img{width: 100%}


.product{width: 98%;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;margin:0 auto;margin-bottom: 8px;padding-top: 12px;}
.product .item{flex: 49%;}

.item .jzimg{position: relative;padding:0px 3px;padding-bottom: 7px;}
.item .jzimg img{width: 100%}
.item img{width: 100%}


.footer img{width: 100%}
#returntop {position: fixed;right: 2px;bottom: 50px;}
#returntop img{width:40px;}
