.header img{width: 100%}
.title{overflow: hidden;}
.title img{width: 50%;}

.main{width:100%; min-height:500px; background: -webkit-gradient(linear,0% 50%,100% 50%,from(#fec9ba), color-stop(0.2, #feeeea),color-stop(0.5, #fef6f6),color-stop(0.8, #feeeea), to(#fec9ba));}

.products{width: 95%;margin: 0 auto;position: relative;padding-bottom: 0.42593rem}
.products img{width: 100%}
.products span{font-size: 0.88889rem;position: absolute;right: 6.77037rem;top: 6.39593rem;color: #212121}

.momo img{width: 100%;}